@CHARSET "UTF-8";

#main {
	width: 960px;
	margin: auto;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 25px 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;
	-webkit-box-shadow: 0 1px 10px #05144a;
	-moz-box-shadow: 0 1px 10px #05144a;
	box-shadow: 0 1px 10px #05144a;
}

#main {
}

#main .nav-group {
	height: 144px;
	background-image: url(../images/bg-nav.jpg);
	background-repeat: repeat-x;
	border-radius: 25px 25px 0px 0px;
	-moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;
}

#main .nav-group-main {
	height: 80px;
	background-image: url(../images/bg-nav.jpg);
	background-repeat: repeat-x;
	border-radius: 25px 25px 0px 0px;
	-moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;
}

#main .nav-group .brand {
	float: left;
	margin-left: 15px;
}

#main .nav-group-main .brand {
	float: left;
	margin-left: 15px;
}

#main .nav-group .brand a.logo {
	display: block;
	width: 287px;
	height: 132px;
	background-image: url(../images/logo.png);
	background-position: left top;
	background-repeat: no-repeat;
	margin-top: 2px;
}

#main .nav-group-main .brand a.logo-mini {
	display: block;
	width: 150px;
	height: 69px;
	background-image: url(../images/logo-mini.png);
	background-position: left top;
	background-repeat: no-repeat;
	margin-top: 2px;
}

#main .nav-group {
	float: right;
	margin-right: 30px;
	margin-top: 60px;
}

#main {
	background-color: #f0f0f0;
}

#main #content {
	position: relative;
	background-color: #f0f0f0;
	left: 0;
	top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 2;
	border-radius: 0px 0px 25px 25px;
	-moz-border-radius: 0px 0px 25px 25px;
	-webkit-border-radius: 0px 0px 25px 25px;
	padding-bottom: 30px;
}
#content form{
	float: left;
	width: 100%;	
}
#content table{
	width: 100%;
}
div #pageHeader{
	float: left;
	margin-top: 10px;
	border: 1px solid #2a2a2a;
	border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	color: #febf34;
	background: url(../images/title.png) repeat-x #2a2a2a;
	width: 100%;
}
div #pageHeader h3{
	padding: 4px 10px;
	margin: 5px auto 0px;
}
div #form{
	float: left;
	width: 100%;
	border: 1px solid #2a2a2a;
	border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	background: url(../images/result.png) repeat-x #ededed;
}
div #form table{
	padding: 10px;
}
div #form table td{
	vertical-align: top;
	padding: 3px;
}
div #form table td label{
	line-height: 25px;
}
div #form table td input,textarea{
	margin: 0px;
	padding: 3px;
	font-size: 14px;
}

/* Data Grid */
div #form table.data-grid{
	padding: 0px;
}
div #form table.data-grid td{
	padding: 8px 10px;
}


div #btnFooter{
	float: left;
	text-align: right;
	width: 100%;
	margin: 15px 0px;
}
div #btnFooter input,button{
	padding: 5px;
}

.require{color:red;}